.mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.card-title {
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  color: #3F51B5;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 0;
}

.form-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .form-layout {
    width: 90%;
  }
}